
/*partie Dive2  Hassan*/

body{
    margin: 0;
    padding: 0;
    font-family:"cursive";
}

.div2{
  
    display: flex;
    height: 500px;
    justify-content:space-between;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
}
.descriptionsiteimg{
  
    height: 100%;

 
}
.descriptionsiteimg img{
    border-radius: 20px;

}

.descriptionsitetexte{
    font-size: 15px;
    width: 25%;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
   
}

.descriptionsitetexte h2 {
    font-size: 35px;
    

}

.descriptionsitetexte h2:hover{
    color: #388e48;
}


/* media quaries pour tablet partie Dive2 hassan*/

  
@media (min-width: 600px) and (max-width: 1024px) {

    .div2{

        display: grid;
        grid-template-columns: 1fr;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        
    }

    .descriptionsiteimg{
        border-radius: 80px;
        width: 100%;
       
    
     
    }
    .descriptionsiteimg img{
        border-radius: 20px;
        width: 100%;
       
        
    
     
    }
    
    .descriptionsitetexte{
        font-size: 15px;
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        
       
    }
    
    .descriptionsitetexte h2 {
        font-size: 25px;
        
    
    }
    .descriptionsitetexte:hover h2{
        font-size: 30px;
        color: #388e48;
    
    }
    .descriptionsitetexte p{
        font-size: 15px;
      
       
    }

    }


/* media quaries pour mobile partie Dive2 hassan*/
 @media (max-width: 600px) { 
    .div2{
  
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        
    }

    .descriptionsiteimg{
       
        width: 100%;
        margin-right: 50px;
       
    
     
    }
    .descriptionsiteimg img{
        border-radius: 20px;
        width: 100%;
   
    }
    
    .descriptionsitetexte{
        font-size: 15px;
        width: 100%;
        height: 500px;
        margin-left: 10px;
        margin-right: 10px;
        
        
       
    }
    
    .descriptionsitetexte h2 {
        font-size: 25px;
        
    
    }
    .descriptionsitetexte:hover h2{
        font-size: 30px;
        color: #388e48;
    
    }
    .descriptionsitetexte p{
        font-size: 15px;
      
       
    }

    }


/*partie page2 hassan*/


.page{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr ;
    margin-left: 10px;
    margin-right: 10px;
}

.page img{

   margin-top: 20px;
   margin-left: 10px;
   margin-right: 10px;
   width: 99%;
   border-radius: 20px;
}

.titrepage{
    font-size: 35px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.soustitrepage {
    font-size: 25px;
    text-align: center;
    background: #4c5158 ; 
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}


.btnpage  {
 
   height: 60px;
   color:black;
   font-size: 17px;
   background: #4c5158;
   border-radius: 20px;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
   display:flex;
   justify-content: center;
   width: 250px;
 
 }
 .btnpage :hover{
  
   color:#388e48;
   
 }
 .btnpage a {
   text-decoration: none;
   color: black;
   align-self:center;
   width: 200px;
   font-size: 20px;


 }

 @media (max-width: 600px) { 
   .page{
     width: 100%;
     display: grid;
     grid-template-columns: 1fr;
     margin-left: 10px;
     margin-right: 10px;
 }
 .page img{

  
   width: 100%;
   border-radius: 20px;
   width: 100%;
}

.titrepage{
    font-size: 35px;
    text-align: center;
    
}

.soustitrepage {
    font-size: 25px;
    text-align: center;
    background: #4c5158 ; 
   
   
}


.btnpage  {
 
   height: 60px;
   color:black;
   font-size: 17px;
   background: #4c5158;
   border-radius: 20px;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
   display:flex;
   justify-content: center;
   width: 250px;
 
 }
 .btnpage :hover{
  
   color:#388e48;
   
 }
 .btnpage a {
   text-decoration: none;
   color: black;
   align-self:center;
   width: 200px;
   font-size: 20px;


 }
}

/*partie Footer  Hassan*/

.footer {
   
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#4c5158;
    color: white;
  
 }
 .footer h4 {
   
    text-align: center;
 }
 .footer img {
   
    float: right;
    padding-bottom: 10px;
    margin-right: 10px;
 }

 /*media quaries pour mobile Footer Hassan */

 @media (max-width: 600px) { 
    .footer {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        justify-items: center;
    }
}
 /*media quaries pour tablet footer Hassan */

@media (min-width: 600px) and (max-width: 1024px) {
    
    .footer {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        justify-items: center;
    }
}





      